<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About Me | Portfolio</title>
 <link rel="stylesheet" href="../style.css">
</head>
<body>

  <aside class="sidebar">
    <div class="logo"><img src="images/logo.png" alt="Logo"></div>
    <nav>
  <a class="active" href="../index.html">Home</a>
  <a class href="about.html">About Me</a>
  <a href="education.html">Education</a>
  <a href="experience.html">Experience</a>
  <a href="achievements.html">Achievements</a>
  <a href="projects.html">Projects</a>
  <a href="certifications.html">Certifications</a>
  <a href="contact.html">Contact Me</a>
</nav>
  </aside>

  <section class="page about-page">

  <h1>About Me</h1>

  <div class="info-grid">

    <div class="info-box">
      <span class="label">NAME</span>
      <p class="value">Amogha K A</p>
    </div>

    <div class="info-box">
      <span class="label">AGE</span>
      <p class="value">20</p>
    </div>

    <div class="info-box">
      <span class="label">PURSUING</span>
      <p class="value">B.E. in CSE</p>
    </div>

    <div class="info-box">
      <span class="label">ROLE</span>
      <p class="value">Full Stack Developer</p>
    </div>

    <div class="info-box">
      <span class="label">EXPERIENCE</span>
      <p class="value">Student / Projects</p>
    </div>

    <div class="info-box">
      <span class="label">LANGUAGES</span>
      <p class="value">English, Hindi, Kannada</p>
    </div>

  </div>
  <!-- SKILLS SECTION -->
<h2 class="section-title">Skills</h2>

<div class="skills-grid">
 
  <div class="skill-box">
    <span class="label">FRONTEND</span>
    <p class="value">HTML • CSS • JavaScript</p>
  </div>

  <div class="skill-box">
    <span class="label">BACKEND</span>
    <p class="value">Node.js • Express</p>
  </div>

  <div class="skill-box">
    <span class="label">DATABASE</span>
    <p class="value">MySQL • MongoDB</p>
  </div>

  <div class="skill-box">
    <span class="label">TOOLS</span>
    <p class="value">Git • GitHub • VS Code</p>
  </div>

  <div class="skill-box">
    <span class="label">OTHER</span>
    <p class="value">Problem Solving • Teamwork</p>
  </div>
 <div class="skill-box">
  <span class="label">CODING LANGUAGES</span>
  <p class="value">C • C++ • Java • Python • JavaScript</p>
</div>

</div>


</section>

</body>
</html>
